COMPOSE_PROFILES=libretranslate,kokoro

# Database
POSTGRES_USER=mydic
POSTGRES_PASSWORD= #TODO: generate with: pwgen -s 16 1
POSTGRES_DB=mydic
POSTGRES_EXPOSE=127.0.0.1:5432

# Libre Translate
LT_LOAD_ONLY=en,es,pt,fr,ru,de,it,zh,ja
LT_EXPOSE=127.0.0.1:5000

# Kokoro TTS
KOKORO_EXPOSE=127.0.0.1:8880
